@import "variables.scss";

* {
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  background: #f8f8f8;
  margin: 0 auto; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  h1 {
    font-weight: 400;
  } 

  h2 {
    margin: 0;
    font-weight: 500;
    font-size: 1.266rem;
  }

  .header-head {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    color: #272d45;
    font-size: 20px;
    padding: 25px;
    text-align: center;
  
  }
}

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  .item {
    color: #8f9097;
    display: flex;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    padding-top: 18px;
    position: relative;
    text-align: center;
    width: 100px;
  }
  
  .completed::before {
    content: "";
    background: #00ca9b;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    display: block;
    height: 24px;
    left: 50%;
    padding-left: 1px;
    padding-top: 1px;
    top: 0;
    transform: translate(50%,-50%);
    width: 24px;
  }
  
  .completed:hover {
    color: #272d45;
  }
  
  .completed {
    font-family: Open Sans;
    text-decoration: none;
    color: #8f9097;
  }
  
  .ratings {
    color: #272d45;
  }
  .nav-links::before {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    content: "";
    display: block;
    height: 24px;
    left: 50%;
    padding-left: 1px;
    padding-top: 1px;
    top: 0;
    transform: translate(50%,-50%);
    width: 24px;
  }
  
  .nav-links {
    font-family: Open Sans;
    text-decoration: none;
    color: #8f9097;
  }
}

.cont {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  padding: 0 16px;
}

.ratingsForm {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  padding: 16px;
  
  .numbers p {
    background: #d9d9d9;
    border-radius: 50%;
    height: 2em;
    top: 50%;
    transition: width .2s,height .2s,margin .2s;
    width: 2em;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
  }

  .numbers p:hover {
    color: #00ca9b;
    background: #fff;
    box-shadow: inset 0 0 0 4px #00ca9b;
    transform: scale(1.05);
    transition: all .3s;
  }

  .poor {
    font-size: .79rem;
    color: #8f9097;
    transform: translate(0px, 15px)
  }

  .excellent {
    font-size: .79rem;
    color: #8f9097;
    width: 50px;
    margin: 0;
    transform: translate(650px, -3px)
  }
}

.ratingsForm .numbers.active p {
  background:#00ca9b;
  border-color: #00ca9b;
  color: white;
}

.ratingsForm .numbers.active p:hover {
  color: #00ca9b;
  background: #fff;
  box-shadow: inset 0 0 0 4px #00ca9b;
}

hr{
  background: #d9d9d9;
  border: none;
  height: 4px;
  margin: -33px 0 0 0px;
}
.spacer hr.progress {
  background:#00ca9b;
  margin: -4px 0 0 5px;

}

.range {
  display: flex;
  justify-content: space-between;
  margin: -10px 0 0 0;
}

.productStandouts {
  display: flex;
  padding-top: 5px;
  flex-wrap: wrap;
}

.productStandoutsBtn.active button {
  background:#00ca9b;
  border-color: #00ca9b;
  color: white;
}

button {
  color: #272d45;
  font-family: Open Sans,sans-serif;
  font-size: .889rem;
  line-height: 1.6;
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 8px;
  margin:  2px;
  transition: background .2s ease;
}

button:hover {
  background-color:#c2c2c2;
  border-color: #c2c2c2;
}

.overLimit {
  background: #d9d9d9;
  border-color: #d9d9d9;
  color: #8f9097;
  cursor: not-allowed;
}

.aboutYou {
  color: #272d45;
  font-family: Open Sans,sans-serif;
  font-size: .889rem;
  line-height: 1.6;
  font-weight: 700;
}

.title {
  color: #272d45;
  font-family: Open Sans,sans-serif;
  font-size: .889rem;
  line-height: 1.6;
  margin: 7px 0 0 0;
}

.flex {
  display: flex;
  margin-top: 5px;
}

.active button{
  background: #00ca9b;
  border-color: #00ca9b;
}

.caption {
  color: #8f9097;
  font-size: .79rem;
}

select {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  font-size: 14px;
  height: 34px;
  margin: 0;
  max-width: 100%;
  padding: 7px;
  vertical-align: top;
  overflow: visible !important;
}

.next {
  background: #00ca9b;
  border-color: #00ca9b;
  color: #fff;
  line-height: 3.3;
    padding: 0 24px;
    font-size: 1.266rem;
    width: 100%;
    border-radius: 4px;
    transition: background .3s ease;
}

.next:hover {
  background: #11b683;
  border-color: #11b683;
  cursor: pointer;
}

.cantClick:hover {
  cursor: no-drop;
}

.fontSize-small {
  font-size: .889rem;
}

.fontSize-medium {
  font-size: 1rem; 
}

.fontSize-large {
  font-size: 1.266rem;
}

.textColor-mid {
  color: #8f9097;
}

.marginBottom-small {
  margin-bottom: 8px; 
}

.marginBottom-medium {
  margin-bottom: 16px;
}

.marginBottom-large {
  margin-bottom: 32px;
}

.zeroMargin {
  margin: 0 auto;
}

@media (min-width: 480px) {
  .cont {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .cont {
    width: 768px;
  }
}